@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400&display=swap');
      @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rubik+Dirt&display=swap');

      @import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');  
  @import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');   
      
/* width */
::-webkit-scrollbar {
   width: 10px;
 }
 
 /* Track */
 ::-webkit-scrollbar-track {
   box-shadow: inset 0 0 5px var(--main-color);
   border-radius: 5px; 
 }
  
 /* Handle */
 ::-webkit-scrollbar-thumb {
   background: var(--main-color); 
   border-radius: 5px;
 }
 
 /* Handle on hover */
 ::-webkit-scrollbar-thumb:hover {
   background: #019001; 
 }      

:root{
   --black:rgb(240, 240, 240);
   --bg-color: #000000;
	--text-color: #fff;
	--main-color: rgb(8, 112, 48);
	--second-color: blue;
   
}
*{
   font-family: 'Source Sans Pro', sans-serif;
   margin:0; 
   padding:0;
   box-sizing: border-box;
   outline: none; 
   border:none;
   text-decoration: none;
   color:var(--text-color);
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
   scroll-behavior: smooth;
}

body{
   overflow: hidden;
   transition: .2s linear !important;
   background-color: var(--bg-color);
}

section{
   padding:3rem 2rem;
   margin: 0 0 0 30rem;
   text-align: center;
   
}

.heading{
   margin-bottom: 5rem;
   text-align: center;
}

.heading span{
   font-size: 3rem;
   border-bottom: 3px solid var(--main-color);
   padding-left: 20px;
   padding-right: 20px;
   border-radius: 20px 20px 10px ;
   font-family: 'Bebas Neue', cursive;
   letter-spacing: 2px;
   
}

.btn{
   display: inline-block;
   margin-top: 1rem;
   cursor: pointer;
   padding:1rem 3rem;
   border: 1px solid var(--main-color);
   font-size: 2rem;
   background: none;
   border-radius: 10px;
}

.btn:hover{
   box-shadow:  0 0 1px var(--main-color) ,
            0 0 2px var(--main-color),
            0 0 4px var(--main-color),
            0 0 8px var(--main-color),
            0 0 16px var(--main-color);
}

.header{
   position: fixed;
   height: 100vh;
   background: linear-gradient(#000000,var(--main-color));
   width: 30rem;
   padding:3rem 2rem;
   text-align: center; 
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-flow: column;
   transition: .2s linear !important;
   text-align: center;
   z-index: 1000;
   overflow: hidden;
   
}
.wheel{
   border-left: 2px solid transparent;
   border-right: 2px solid transparent;
   border-top: 2px solid white;
   border-bottom: 2px solid white;
}
.header .logo{
   width: 230px;
   height: 230px;
   border-radius: 100%;
   animation: rotation 5s linear infinite;
}
.header .logo img{
   position: relative;
   top:5%;
   width: 90%;
   height: 90%;
   border-radius: 100%;
   border: 3px solid rgb(255, 255, 255);
   animation: rotation2 5s linear infinite reverse;
}
.home .Aboutlogo{
   display: none;
   width: 230px;
   height: 230px;
   border-radius: 100%;
   animation: rotation 5s linear infinite;
}
@keyframes rotation {
   100%{
      transform: rotate(360deg);
   }
}
.home .Aboutlogo img{
   display: none;
   position: relative;
   top: 5%;
   left: 5%;
   width: 90%;
   height: 90%;
   border-radius: 100%;
   border: 3px solid rgb(255, 255, 255);
   animation: rotation2 5s linear infinite reverse;
}
@keyframes rotation2 {
   100%{
      transform: rotate(360deg);
   }
}


.header .navbar{
   width: 100%;
}

.header .navbar a{
   display: block;
   font-size: 2rem;
   padding:1.5rem;
   margin:.5rem;
}

.header .navbar a:hover{
   color: #ffffff;
   text-shadow: 0 0 5px #ffffff,
                0 0 10px #ffffff,
                0 0 20px #ffffff,
                0 0 40px #ffffff,
                0 0 80px #ffffff;
   cursor: pointer;
}

.header .follow a{
   font-size: 3rem;
   margin:0 1rem;
   cursor: pointer;
   transition: .6s linear !important;
}

.header .follow a:hover{
   transform: rotate(360deg);
}

.header.active{
   left: 0;
}
 /* =============home============ */
.home{
   display: flex;
   align-items: center;
   flex-direction: column;
   text-align: left;
   justify-content: center;
   gap:2rem;
   min-height: 90vh;
}

.home .content{
   width: 70vw;
}

.home .content h3{
   font-size: 5.5rem;
   margin-bottom: .5rem;
   font-weight: 500;
}

.content .dynamic-text{
   background: rgb(0, 0, 0);
}
.dynamic-text li h4{
   font-size: 5rem;
   font-weight: 600;
}

.dynamic-text li{
   list-style: none;
   font-size: 5rem;
}

.dynamic-text li span{
   position: relative;
   color: var(--main-color);
}

.dynamic-text li span::after{
   content: '';
   position: absolute;
   height: 100%;
   width: 100%;
   left: 0;
   border-left: 1vw solid var(--main-color) ;
   animation: typing 3s steps(21) infinite;
   background: #000000;
}

@keyframes typing{
   100%{
      left: 100%;
      margin: 0 -35px 0 35px;
   }
}

.about-text ,.edutation-text {
   color: var(--main-color);
   font-size: 2.2rem;
   font-weight: 600;
   margin-top: .5rem;
   margin-bottom: .5rem;
   border-bottom: 1px solid var(--main-color);
}

.home .content p{
   font-size: 1.9rem;
   padding:1rem 0;
   color: rgba(255, 255, 255, 0.84);
   letter-spacing: 1px;
   font-weight: 100;
}

.edutation{
   font-size: 1.8rem;
   padding: 10px;
}

.edutation ul li{
   color: rgba(255, 255, 255, 0.84);
   letter-spacing: 1px;
}
#resume{
   width: 100%;
   display: flex;
   justify-content: center;
}
/* =============education==========*/
.education .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(15rem, auto));
   gap:1.5rem;
   align-items: flex-start;
}
.education .box-container .box{
   padding:2rem 1rem;
   border-radius: 10px;
   /* height: 150px; */
   background-color: rgba(1, 32, 13, 0.484);
   transition: all .30s ease;
}
.education .box-container .box img{
   margin-bottom: 1rem;
   width: 5rem;
}
.education .box-container .box h3{
   font-size:2rem;
   border-bottom: 2px solid #019001;
   letter-spacing: 1px;
   font-weight: 300;
   padding-bottom: 5px;
   margin-bottom: 10px;
}
.education .box-container .box p{
   letter-spacing: 1px;
   font-weight: 300;
   font-size: 1.3rem;
}
.education .box-container .box:hover{
   transform: scale(1.04) ;
   cursor: pointer;
   box-shadow:  0 0 1px var(--main-color) ,
                0 0 2px var(--main-color),
                0 0 4px var(--main-color),
                0 0 8px var(--main-color),
                0 0 16px var(--main-color);
}
.education .box-container .box:hover h3{
   color: var(--main-color);
}
/* =============skills============= */

.skills .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(15rem, auto));
   gap:1.5rem;
   align-items: flex-start;
}

.skills .box-container .box{
   padding:2rem 1rem;
   /* border: 1px solid var(--main-color); */
   border-radius: 10px;
   background-color: rgba(1, 32, 13, 0.484);
   transition: all .30s ease;
}

.skills .box-container .box img{
   margin-bottom: 1rem;
   width: 5rem;
}
#MERN{
   margin-top: 3rem;
   padding:2rem 1rem;
   margin-bottom: 2rem;
   /* border: 1px solid var(--main-color); */
   background-color: rgba(1, 32, 13, 0.484);
   border-radius: 10px;
   transition: all .30s ease;
}
#MERN img{
   width: 30rem;
   transition: all .30s ease;
}
#MERN img:hover{
   transform: scale(1.05) ;
}
#MERN:hover{
   
   cursor: pointer;
   box-shadow:  0 0 1px var(--main-color) ,
                0 0 2px var(--main-color),
                0 0 4px var(--main-color),
                0 0 8px var(--main-color),
                0 0 16px var(--main-color);
}

.skills .box-container .box p{
   font-size: 1.8rem;
   /* transition: all .30s ease; */
}

.skills .box-container .box:hover{
   transform: scale(1.04) ;
   cursor: pointer;
   box-shadow:  0 0 1px var(--main-color) ,
                0 0 2px var(--main-color),
                0 0 4px var(--main-color),
                0 0 8px var(--main-color),
                0 0 16px var(--main-color);
}
.skills .box-container .box:hover p{
   color: var(--main-color);
}

/* =============project============= */

.project-content{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, auto));
	align-items: center;
	gap: 2rem;
	margin-top: 3rem;
}
.tools{
   display: flex;
   align-items: center;
   padding: 0 20px;

}
.tools i{
   padding-left: 10px;
   font-size: 25px;
}
.row img{
	height: auto;
	width: 100%;
	border-radius: 0.5rem;
	margin-bottom: 1.5rem;
}
.row{
	padding: 25px;
   background: rgba(1, 32, 13, 0.484);
	border-radius: 0.5rem;
	transition: all .30s ease;
}
.main-row{
	display: flex;
	margin-bottom: 1rem;
}
.row-text{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.row h3{
	font-size: 25px;
	font-weight: 700;
   color: var(--main-color);
}
.row h6{
   font-family: 'Mukta', sans-serif;
	font-size: 16px;
   text-align: left;
	font-weight: 500;
	letter-spacing: 1.5px;
}
.row:hover{
	transform: scale(1.04) ;
	cursor: pointer;
}
.row .linkButton{
   display: flex;
   align-items: center;

}
.row .linkButton button{
   font-family: 'Mukta', sans-serif;
   letter-spacing: 2px;
   border-radius: 5px;
   background: transparent;
   border: 2px solid rgb(8, 112, 48);
 color: white;
 padding: 5px;
 margin: 5px 10px 0 0;
}
/* =============interest============= */

.interest-container{
   display: flex;
}

.img-slider{
   width: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.slider{
   width: 250px;
   height: 305px;
   overflow: hidden;
   border: 2px solid rgb(255, 255, 255);
   transition:  0.3s;
}

.slider:hover{
   transform: scale(1.06);
   cursor: pointer;
   box-shadow:  0 0 1px var(--main-color) ,
                0 0 2px var(--main-color),
                0 0 4px var(--main-color),
                0 0 8px var(--main-color),
                0 0 16px var(--main-color);
}

.slides{
   width: 500%;
   height: 500px;
   display: flex;
}

.slides input{
   display: none;
}

.slide{
   width: 20%;
   transition: 1s;
}

.slide img{
   width: 250px;
   height: 300px;
}

.navigation-manual{
   position: absolute;
   width: 250px;
   margin-top: -225px;
   display: flex;
   justify-content: center;
}

.manual-btn{
   border: 2px solid rgb(255, 255, 255);
   padding: 2px;
   border-radius: 10px;
   cursor: pointer;
   transition: 0.5s;
}

.manual-btn:not(:last-child){
   margin-right: 10px;
}
.manual-btn:hover{
   background:rgb(255, 255, 255) ;
}
#radio1:checked ~ .first{
   margin-left: 0;
}
#radio2:checked ~ .first{
   margin-left: -20%;
}
#radio3:checked ~ .first{
   margin-left: -40%;
}
#radio4:checked ~ .first{
   margin-left: -60%;
}

.navigation-auto{
   position: absolute;
   display: flex;
   justify-content: center;
   width: 250px;
   margin-top: 275px;
}

.navigation-auto div{
   border: 2px solid rgb(255, 255, 255);
   padding: 2px;
   border-radius: 10px;
   transition: 1s;
}

.navigation-auto div:not(:last-child){
   margin-right: 10px;
}
#radio1:checked ~ .navigation-auto .auto-btn1{
   background:rgb(255, 255, 255) ;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
   background:rgb(255, 255, 255) ;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
   background:rgb(255, 255, 255) ;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
   background:rgb(255, 255, 255) ;
}
.interest-text{
   width: 50%;
   color: #ffffff;
   display: flex;
   flex-direction: column;
   /* align-items: center; */
   /* justify-content: center; */
}

.interest-text span{
   color: rgb(255, 255, 255);
   padding: 10px 10px 5px 10px;
   font-family: 'Tilt Prism', cursive;
   border-bottom: 2px solid var(--main-color);
   /* border-right: 2px solid red; */
   border-radius: 10px 20px 5px ;
   font-size: 4rem;
}

.interest-text p{
    padding: 20px;
    font-size: 1.7rem;
}

/* =============contact============= */

.contact{
   display: flex;
   flex-direction: column;
   align-items: center;
   overflow: hidden;
   margin-bottom: 0;
   
}

.contact .box-container{
   border-radius: 20px;
   width: 70vw;
   display: flex;
   justify-content: center;
   
}
.contact-box{
   width: 80%;
   /* color: #ffffff; */
   display: flex;
   background-color: rgba(1, 32, 13, 0.484);
   border-radius: 5px;
   padding: 20px;
   /* height: 100px; */
   /* border: 1px solid red; */
}
.contact .box-container img{
   width: 300px;
}
.scanner{
   width: 40%;
   padding: 20px;
   border-right:3px solid  var(--main-color);
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.Scanner-logo{
   width: 100px;
   height: 100px;
   background-image: url('portfolio-dp1.jpg');
   background-position: center;
   background-size: cover;
   border: 2px solid var(--main-color);
   border-radius: 100%;
   margin-bottom: 10px;
}
.scanner_name{
   font-size: 1.5rem;
}
#scanner_name_p{
   font-size: 1rem;
   letter-spacing: 1px;


}
.scanner-img{
   margin-top: 10px;
   height: 100px;
   width: 100px;
   background-image: url('img/Sudhansu\ sekhar\ behera.png');
   background-position: center;
   background-size: cover;
   border: 2px solid var(--main-color);

}
.contact-box p{
   font-size: 2rem;
}
.social-link{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 20px;
}
.social-media{
   /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}
.follow2 a{
   font-size: 3rem;
   margin:0 1rem;
   cursor: pointer;
}
.form-horizontal{
   margin: 30px;
}
 .form-control, 
 textarea {
   border: 1px solid var(--main-color);
   width: 400px;
   background-color: #000;
   border-radius: 10px;
   margin: 5px;
   padding: 10px;
   color: #fff;
   letter-spacing: 1px;
 }
 
 .send-button {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 34px;
   /* margin-bottom: 10px; */
   width: 400px;
   overflow: hidden;
   font-family: 'Source Sans Pro', sans-serif;
   transition: all .2s ease-in-out;
 }

.credit-box{
   padding: 0;
   overflow: hidden;
}

.credit{
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: var(--main-color);
   padding: 0.5em;
   font-size: 1.5rem;
   color: white;
}

.credit span{
   color: rgb(255, 255, 255);
   margin-left: 10px;
}
#go-top{
   position: fixed;
   height: 40px;
   width: 40px;
   bottom: 55px;
   right: 10px;
   z-index: 100;
   cursor: pointer;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   border: 2px solid var(--main-color);
   border-top: none;
   border-bottom: none;

}
#go-top:hover{
   border: 2px solid var(--main-color);
   border-right: none;
   border-left: none;
}
#go-top .top{
   height: 25px;
   width: 25px;
   border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
   background-color: var(--main-color);
   transition-duration: .5s;
}
#go-top .top:hover{
   background-color: transparent;
   border: 2px solid var(--main-color);
   border-top: none;
   border-bottom: none;
}


     /* =========== media queries ========== */


@media (max-width:991px){
   .wrapper{
      display: none;
   }

   html{
      font-size: 60%;
   }
   body.active{
      padding-left: 0;
   }
   .header .logo,.header .logo img,.header .follow a,.contact-box h3{
      display: none;
   }
   .home .Aboutlogo,.home .Aboutlogo img{
      display: block;
   }
   .header{
      position: fixed;
      bottom: 0;
      height: 40px;
      width: 100vw;
      padding:0px;
      display: flex;
      align-items: center;
      justify-content: center;
   }
   .header .navbar{
      background-color: var(--main-color);
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
   }
   .header .navbar a{
      display: block;
      font-size: 1.8rem;
      padding:1rem 0rem;
      margin:0rem;
      letter-spacing: 1px;
   }
   section{
      margin: 0 0 0 0rem;
   }
   .home .content{
      width: 85vw;
   }
   .home .content h3{
      font-size: 3.3rem;
   }

   .dynamic-text li h4{
      font-size: 3rem;
   }
   .dynamic-text li{
      font-size: 4rem;
   }
   .contact{
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   .contact .box-container{
      display: flex;
      flex-direction: column;
      border: none;
      justify-content: center;
      align-items: center;
      width: 1000px;
      margin-left: 0px;
      margin-bottom: 30px;
   }
   .contact-box{
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   .scanner{
      padding-bottom:20px ;
      border-right: none;
      border-bottom:3px solid  var(--main-color);
   }

}

@media (max-width:460px){

   html{
      font-size: 50%;
   }
   .contact{
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   .contact .box-container{
      width: 700px;
   }
   
   
}
@media (max-width:640px){
   .interest{
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   .interest-container{
      margin-left: 0px;
      width: 600px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
   .interest-text{
      margin-top: 30px;
   }
}


/* ========================= */

 