@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400&display=swap');
      @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rubik+Dirt&display=swap');

      @import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');  
  @import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');   
      
/* width */
::-webkit-scrollbar {
   width: 10px;
 }
 
 /* Track */
 ::-webkit-scrollbar-track {
   box-shadow: inset 0 0 5px var(--main-color);
   border-radius: 5px; 
 }
  
 /* Handle */
 ::-webkit-scrollbar-thumb {
   background: var(--main-color); 
   border-radius: 5px;
 }
 
 /* Handle on hover */
 ::-webkit-scrollbar-thumb:hover {
   background: #019001; 
 }      

:root{
   --black:rgb(240, 240, 240);
   --bg-color: #000000;
	--text-color: #fff;
	--main-color: rgb(8, 112, 48);
	--second-color: blue;
   
}
*{
   font-family: 'Source Sans Pro', sans-serif;
   margin:0; 
   padding:0;
   box-sizing: border-box;
   outline: none; 
   border:none;
   text-decoration: none;
   color:var(--text-color);
   -webkit-tap-highlight-color: rgba(0,0,0,0)!important;
    -webkit-focus-ring-color:rgba(255,255,255,0);
    outline: none !important;
}
html{
   font-size: 62.5%;
   overflow-x: hidden;
   scroll-behavior: smooth;
}

body{
   overflow: hidden;
   transition: .2s linear !important;
   background-color: var(--bg-color);
}

section{
   padding:3rem 2rem;
   margin: 0 0 0 30rem;
   text-align: center;
   cursor: url("img/cursor.png"),pointer;
}
.heading{
   margin-bottom: 5rem;
   text-align: center;
}

.heading span{
   font-size: 3rem;
   border-bottom: 3px solid var(--main-color);
   padding-left: 20px;
   padding-right: 20px;
   border-radius: 20px 20px 10px ;
   font-family: 'Bebas Neue', cursive;
   letter-spacing: 2px;
   
}

.btn{
   display: inline-block;
   margin-top: 1rem;
   padding:1rem 3rem;
   border: 1px solid var(--main-color);
   font-size: 2rem;
   background: none;
   border-radius: 10px;
}

.btn:hover{
   box-shadow:  0 0 1px var(--main-color) ,
            0 0 2px var(--main-color),
            0 0 4px var(--main-color),
            0 0 8px var(--main-color),
            0 0 16px var(--main-color);
}

.header{
   position: fixed;
   height: 100vh;
   background: linear-gradient(#000000,var(--main-color));
   width: 30rem;
   padding:3rem 2rem;
   text-align: center; 
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-flow: column;
   transition: .2s linear !important;
   text-align: center;
   z-index: 1000;
   overflow: hidden;
   
}
.wheel{
   border-left: 2px solid transparent;
   border-right: 2px solid transparent;
   border-top: 2px solid white;
   border-bottom: 2px solid white;
}
.header .logo{
   width: 230px;
   height: 230px;
   border-radius: 100%;
   animation: rotation 5s linear infinite;
}
.header .logo img{
   position: relative;
   top:5%;
   width: 90%;
   height: 90%;
   border-radius: 100%;
   border: 3px solid rgb(255, 255, 255);
   animation: rotation2 5s linear infinite reverse;
}
.home .Aboutlogo{
   display: none;
   width: 230px;
   height: 230px;
   border-radius: 100%;
   animation: rotation 5s linear infinite;
}
@keyframes rotation {
   100%{
      transform: rotate(360deg);
   }
}
.home .Aboutlogo img{
   display: none;
   position: relative;
   top: 5%;
   left: 5%;
   width: 90%;
   height: 90%;
   border-radius: 100%;
   border: 3px solid rgb(255, 255, 255);
   animation: rotation2 5s linear infinite reverse;
}
@keyframes rotation2 {
   100%{
      transform: rotate(360deg);
   }
}


.header .navbar{
   width: 100%;
}

.header .navbar a{
   display: block;
   font-size: 2rem;
   padding:1.5rem;
   margin:.5rem;
}

.header .navbar a:hover{
   color: #ffffff;
   text-shadow: 0 0 5px #ffffff,
                0 0 10px #ffffff,
                0 0 20px #ffffff,
                0 0 40px #ffffff,
                0 0 80px #ffffff;
   cursor: pointer;
}

.header .follow a{
   font-size: 3rem;
   margin:0 1rem;
   cursor: pointer;
   transition: .6s linear !important;
}

.header .follow a:hover{
   transform: rotate(360deg);
}

.header.active{
   left: 0;
}
 /* ============= Home Start ============ */
.home{
   display: flex;
   align-items: center;
   flex-direction: column;
   text-align: left;
   justify-content: center;
   gap:2rem;
   min-height: 90vh;
}

.home .content{
   width: 70vw;
}

.home .content h3{
   font-size: 5.5rem;
   margin-bottom: .5rem;
   font-weight: 500;
}

.content .dynamic-text{
   background: rgb(0, 0, 0);
}
.dynamic-text li h4{
   font-size: 5rem;
   font-weight: 600;
}

.dynamic-text li{
   list-style: none;
   font-size: 5rem;
}

.dynamic-text li span{
   position: relative;
   color: var(--main-color);
}

.dynamic-text li span::after{
   content: '';
   position: absolute;
   height: 100%;
   width: 100%;
   left: 0;
   border-left: 1vw solid var(--main-color) ;
   animation: typing 3s steps(21) infinite;
   background: #000000;
}

@keyframes typing{
   100%{
      left: 100%;
      margin: 0 -35px 0 35px;
   }
}

.about-text ,.edutation-text {
   color: var(--main-color);
   font-size: 2.2rem;
   font-weight: 600;
   margin-top: .5rem;
   margin-bottom: .5rem;
   border-bottom: 1px solid var(--main-color);
}

.home .content p{
   font-size: 1.9rem;
   padding:1rem 0;
   color: rgba(255, 255, 255, 0.84);
   letter-spacing: 1px;
   font-weight: 100;
}

.edutation{
   font-size: 1.8rem;
   padding: 10px;
}

.edutation ul li{
   color: rgba(255, 255, 255, 0.84);
   letter-spacing: 1px;
}
#resume{
   width: 100%;
   display: flex;
   justify-content: center;
}
 /* ============= Home End ============ */

/* ============= Education Start ==========*/
.education .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(15rem, auto));
   gap:1.5rem;
   align-items: flex-start;
}
.education .box-container .box{
   padding:2rem 1rem;
   border-radius: 10px;
   background-color: rgba(1, 32, 13, 0.484);
   transition: all .30s ease;
}
.education .box-container .box img{
   margin-bottom: 1rem;
   width: 5rem;
}
.education .box-container .box h3{
   font-size:2rem;
   border-bottom: 2px solid #019001;
   letter-spacing: 1px;
   font-weight: 300;
   padding-bottom: 5px;
   margin-bottom: 10px;
}
.education .box-container .box p{
   letter-spacing: 1px;
   font-weight: 300;
   font-size: 1.3rem;
}
.education .box-container .box:hover{
   transform: scale(1.04) ;
   cursor: pointer;
   box-shadow:  0 0 1px var(--main-color) ,
                0 0 2px var(--main-color),
                0 0 4px var(--main-color),
                0 0 8px var(--main-color),
                0 0 16px var(--main-color);
}
.education .box-container .box:hover h3{
   color: var(--main-color);
}
/* ============= Education End ==========*/

/* ============= Skills Start ============= */

.skills .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(15rem, auto));
   gap:1.5rem;
   align-items: flex-start;
}

.skills .box-container .box{
   padding:2rem 1rem;
   border-radius: 10px;
   background-color: rgba(1, 32, 13, 0.484);
   transition: all .30s ease;
}

.skills .box-container .box img{
   margin-bottom: 1rem;
   width: 5rem;
}
#MERN{
   margin-top: 3rem;
   padding:2rem 1rem;
   margin-bottom: 2rem;
   background-color: rgba(1, 32, 13, 0.484);
   border-radius: 10px;
   transition: all .30s ease;
}
#MERN img{
   width: 30rem;
   transition: all .30s ease;
}
#MERN img:hover{
   transform: scale(1.05) ;
}
#MERN:hover{
   
   cursor: pointer;
   box-shadow:  0 0 1px var(--main-color) ,
                0 0 2px var(--main-color),
                0 0 4px var(--main-color),
                0 0 8px var(--main-color),
                0 0 16px var(--main-color);
}

.skills .box-container .box p{
   font-size: 1.8rem;
}

.skills .box-container .box:hover{
   transform: scale(1.04) ;
   cursor: pointer;
   box-shadow:  0 0 1px var(--main-color) ,
                0 0 2px var(--main-color),
                0 0 4px var(--main-color),
                0 0 8px var(--main-color),
                0 0 16px var(--main-color);
}
.skills .box-container .box:hover p{
   color: var(--main-color);
}
/* ============= Skills End ============= */

/* ============= Project Start ============= */

.tools{
   display: flex;
   align-items: center;
   padding: 20px 0;

}
.tools i{
   padding-right: 10px;
   font-size: 20px;
}
.card__text{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.card-container {
   display: flex;
   justify-content: center;
   align-items: center;
 }
 
 .card__container {
   padding-block: 5rem;
 }
 
 .card__content {
   margin-inline: 1.75rem;
   border-radius: 1.25rem;
   overflow: hidden;
 }
 
 .card__article {
   border-radius: 5px;
   padding: 20px;
   background: rgba(1, 32, 13, 0.484);
   overflow: hidden;
 }
 
 .card__image {
   position: relative;
   width:100%;
 }
 
 .card__data {
   padding: 10px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   min-height: 250px;
 }
 
 .card__img {
   width: 100%;
   margin: 0 auto;
   border-radius: 5px;
   position: relative;
   z-index: 5;
 }
 
 
 .card__name {
   font-size: 25px;
   color: var(--main-color);
   margin-bottom: .75rem;
 }
 
 .card__description {
   font-family: 'Mukta', sans-serif;
	font-size: 14px;
   text-align: left;
	font-weight: 500;
	letter-spacing: 1px;
   margin-bottom: 1.75rem;
 }
 
 .linkButton{
   display: flex;
   align-items: center;
   

}
.linkButton button{
   font-family: 'Mukta', sans-serif;
   letter-spacing: 2px;
   border-radius: 5px;
   background: transparent;
   border: 2px solid rgb(8, 112, 48);
 color: white;
 padding: 5px;
 margin: 5px 10px 0 0;
 cursor: pointer;
}
 .swiper-button-prev:after,
 .swiper-button-next:after {
   content: "";
 }
 
 .swiper-button-prev,
 .swiper-button-next {
   width: initial;
   height: initial;
   font-size: 3rem;
   color: var(--second-color);
   display: none;
 }
 
 .swiper-button-prev {
   left: 0;
 }
 
 .swiper-button-next {
   right: 0;
 }
 
 .swiper-pagination-bullet {
   background-color: hsl(212, 32%, 40%);
   opacity: 1;
 }
 
 .swiper-pagination-bullet-active {
   background-color: var(--second-color);
 }
 .card__content{
   --add-bottom: 50px;
   padding-bottom: var(--add-bottom);
}
.card__content [class^="swiper-button-"]{
   top: calc(50% - var(--add-bottom) / 2);
}
.card__content .swiper-wrapper{
   width: 90vw;
   margin: 0 auto;
}
.allProject-button{
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 10px;
}

 /* ============= Project End ============= */

/* ============= Interest Start ============= */
/* === infinity scrolling ===*/
.infinity-scroller{
   display: flex;
   align-items: center;
   justify-content: center;
   width: 95%;
   flex-direction: column;
   padding: 20px;
   border-left: none;
   border-right: none;
}
.scroll{
   display: flex;
   width: 100%;
   overflow: hidden;
   -webkit-mask-image: linear-gradient(90deg,transparent,#fff 20%,#fff 80%,transparent);
}
.scroll div{
   white-space: nowrap;
   animation: animate var(--t) linear infinite;
   animation-delay: calc(var(--t)*-1);
}
.scroll div:nth-child(2){
   animation: animate2 var(--t) linear infinite;
   animation-delay: calc(var(--t)/-2);
}
@keyframes animate{
   0%{
       transform: translateX(100%);
   }
   100%{
       transform: translateX(-100%);
   }
}
@keyframes animate2{
   0%{
       transform: translateX(0);
   }
   100%{
       transform: translateX(-200%);
   }
}
.scroll div span{
   display: inline-flex;
   margin: 10px;
   background: rgba(1, 32, 13, 0.484);
   text-transform: uppercase;
   letter-spacing: 0.2em;
   color: #fff;
   font-size: 12px;
   padding: 5px 10px;
   border-radius: 5px;
   transition: 0.5s;
}
.scroll div span:hover{
   background: var(--main-color);
   cursor: pointer;
   box-shadow:  0 0 1px var(--main-color) ,
                0 0 2px var(--main-color),
                0 0 4px var(--main-color),
                0 0 8px var(--main-color),
                0 0 16px var(--main-color);
}
.imgbx img{
width:100px;
height: 100px;
scale: 0.8;
}
.interest hr{
   border: 1px solid var(--main-color);
   width: 50%;
   margin: 0 auto;

}
.interest{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

/* ============= Interest End ============= */

/* ============= Contact Start============= */

.contact{
   display: flex;
   flex-direction: column;
   align-items: center;
   overflow: hidden;
   margin-bottom: 0;
   
}

.contact .box-container{
   border-radius: 20px;
   width: 70vw;
   display: flex;
   justify-content: center;
   
}
.contact-box{
   width: 80%;
   display: flex;
   justify-content: space-evenly;
   background-color: rgba(1, 32, 13, 0.484);
   border-radius: 5px;
   padding: 20px;
}
.contact .box-container img{
   width: 300px;
}
.scanner{
   width: 40%;
   padding: 20px;
   border-right:3px solid  var(--main-color);
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.Scanner-logo{
   width: 100px;
   height: 100px;
   background-image: url('portfolio-dp1.jpg');
   background-position: center;
   background-size: cover;
   border: 2px solid var(--main-color);
   border-radius: 100%;
   margin-bottom: 10px;
}
.scanner_name{
   font-size: 1.5rem;
}
#scanner_name_p{
   font-size: 1rem;
   letter-spacing: 1px;


}
.scanner-img{
   margin-top: 10px;
   height: 100px;
   width: 100px;
   background-image: url('img/Sudhansu\ sekhar\ behera.png');
   background-position: center;
   background-size: cover;
   border: 2px solid var(--main-color);

}
.contact-box p{
   font-size: 2rem;
   padding: 10px;
}
.social-link{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 20px;
}
.social-media{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}
.follow2 a{
   font-size: 3rem;
   margin:0 1rem;
   cursor: pointer;
}

/* ============= Contact End ============= */

/* ============= Credit Start ============= */
.credit-box{
   padding: 0;
   overflow: hidden;
}

.credit{
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: var(--main-color);
   padding: 0.5em;
   font-size: 1.5rem;
   color: white;
}

.credit span{
   color: rgb(255, 255, 255);
   margin-left: 10px;
}
/* ============= Credit End ============= */

/* ============= Go to Top Start ============= */
#go-top{
   position: fixed;
   height: 40px;
   width: 40px;
   bottom: 55px;
   right: 10px;
   z-index: 100;
   cursor: pointer;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   border: 2px solid var(--main-color);
   border-top: none;
   border-bottom: none;

}
#go-top:hover{
   border: 2px solid var(--main-color);
   border-right: none;
   border-left: none;
}
#go-top .top{
   height: 25px;
   width: 25px;
   border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
   background-color: var(--main-color);
   transition-duration: .5s;
}
#go-top .top:hover{
   background-color: transparent;
   border: 2px solid var(--main-color);
   border-top: none;
   border-bottom: none;
}

/* ============= Go to Top End ============= */


/* =========== Media Queries ========== */
@media (max-width:991px){
   .wrapper{
      display: none;
   }

   html{
      font-size: 60%;
   }
   body.active{
      padding-left: 0;
   }
   .header .logo,.header .logo img,.header .follow a,.contact-box h3{
      display: none;
   }
   .home .Aboutlogo,.home .Aboutlogo img{
      display: block;
   }
   .header{
      position: fixed;
      bottom: 0;
      height: 40px;
      width: 100vw;
      padding:0px;
      display: flex;
      align-items: center;
      justify-content: center;
   }
   .header .navbar{
      background-color: var(--main-color);
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
   }
   .header .navbar a{
      display: block;
      font-size: 1.8rem;
      padding:1rem 0rem;
      margin:0rem;
      letter-spacing: 1px;
   }
   section{
      margin: 0 0 0 0rem;
   }
   .home .content{
      width: 85vw;
   }
   .home .content h3{
      font-size: 3.3rem;
   }

   .dynamic-text li h4{
      font-size: 3rem;
   }
   .dynamic-text li{
      font-size: 4rem;
   }
   .contact{
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   .contact .box-container{
      display: flex;
      flex-direction: column;
      border: none;
      justify-content: center;
      align-items: center;
      width: 1000px;
      margin-left: 0px;
      margin-bottom: 30px;
   }
   .contact-box{
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   .scanner{
      padding-bottom:20px ;
      border-right: none;
      border-bottom:3px solid  var(--main-color);
   }
   
}

@media (max-width:460px){

   html{
      font-size: 50%;
   }
   .contact{
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   .contact .box-container{
      width: 700px;
   }
   
}
@media (max-width:640px){
   .interest{
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   .interest-container{
      margin-left: 0px;
      width: 600px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
   .interest-text{
      margin-top: 30px;
   }
   
}

